$margin: 10px;
$body-width: 800px;
$border-color: #ececec;
$border-radius: 10px;
$padding: 20px;
$full-width: 800px;
$tab-width: 700px;
$phone-width: 90%;
$primary-text-color: #ececec;
$primary-button-color: #d8d8d8;
$button-text-color: #1f315f;
$section-color: #1f315f;
$input-color: #ececec;
$background-color: #2b2b2b;
