body {
  font-family: sans-serif;
}
.lists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". l1 l2 l3 l4 l5 l6 l7 l8 l9 l0 .";
  grid-gap: 10px 10px;
}
.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-remplate-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "header" "go" "pa" "re";
  grid-gap: 5px 5px;
}
.list > button {
  height: 40px;
  border-radius: 15px;
  border: 2px black solid;
}
.header {
  grid-area: header;
  text-align: center;
}
.l1 {
  grid-area: l1;
}
.l2 {
  grid-area: l2;
}
.l3 {
  grid-area: l3;
}
.l4 {
  grid-area: l4;
}
.l5 {
  grid-area: l5;
}
.l6 {
  grid-area: l6;
}
.l7 {
  grid-area: l7;
}
.l8 {
  grid-area: l8;
}
.l9 {
  grid-area: l9;
}
.l0 {
  grid-area: l0;
}
.go {
  grid-area: go;
}
.pa {
  grid-area: pa;
}
.re {
  grid-area: re;
}
